* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0b97c4;
    border: 0.5em dotted black;
    position: absolute;
}

.spin-drone {
    animation: spin 3s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.accident {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff3f43;
    opacity: 0.5;
    position: absolute;
    box-shadow: 0 0 5px 10px #ff3f43;
}

.blink-accident {
    animation: blink 3s infinite linear;
}

@keyframes blink {
    0%   {background-color: #ff0c10;}
    25%  {background-color: #ff5f61;}
    50%  {background-color: #ff306f}
    100%  {background-color: #ff0c10;}
}

.fa-trash {
    float: right;
}

#menuContainer {
    float: right;
    width: 15%;
    height: 100vh;
    border: #2915ff solid 0.2em;
    font-size: x-large;
}

#txtNrDronesContainer {
}

#mapContainer {
    width: 85%;
    height: 100vh;
    border: 0.1em solid black;
    background-image: url("../img/map2.png");
    background-size:cover;
}

body {
    overflow: hidden;
}