* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drone {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #0b97c4;
    border: 0.5em dotted black;
    /*animation: spin 3s infinite linear;*/
    position: absolute;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.accident {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: firebrick;
    border: 0.1em solid red;
    position: absolute;
}

#menuContainer {
    float: right;
    width: 15%;
    height: 100vh;
    border: #2915ff solid 0.2em;
    font-size: x-large;
}

#txtNrDronesContainer {
}

#mapContainer {
    width: 85%;
    height: 100vh;
    border: 0.1em solid black;
}

body {
    overflow: hidden;
}